@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Lato');

@page {
  margin: 1cm;
}

html {
  font-family: 'Crimson Text';
  font-size: 12px;
}

.mermaid svg {
  // Maybe put this in a different class if we need to later.
  max-height: 4in;

  // This fixes some issues with the letters getting cut off for some reason.
  // There might be a better way to fix this.
  .edgelabel {
    font-size: 0.9em;
  }
}

.title {
  text-align: center;
  font-size: 2em;
  font-family: 'Lato';
  font-weight: 700;
}

.authors {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

%note-box {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 20px;
  border-top: 1px solid #174591;;
  border-bottom: 1px solid #174591;;
  background-color: #eeeeff;
  padding-left: 30px;
  padding-right: 30px;

  p:first-child:before {
    content: "ABSTRACT: ";
    font-weight: bold;
    font-size: 0.8em;
    color: #174591;
  }
}

.abstract {
  @extend %note-box;
  
  p:first-child:before {
    content: "ABSTRACT: ";
  }
}

.note {
  @extend %note-box;

  p:first-child:before {
    content: "NOTE: ";
  }
}

.main-text {
  text-align: justify;
  column-count: 2;
  column-gap: 40px;

  &> p:first-of-type:first-letter {
    font-size: 3em;
    font-weight: bold;
    color: #174591;
    line-height:0.91em;
    margin-right:5px;
    margin-left: 0;
    float: left;
  }

  figure {
    width: 100%;
    margin: 0;
    display: block;
    font-size: 0.8em;
    float: left;
    
    &.two-columns {
      -webkit-column-span: all;
      column-span: all;
    }

    img, svg {
      max-width: 100%;
      height: auto;
      margin-top: 0;
    }

    table {
      border: 1px solid black;
      margin-bottom: 1em;
      width: 100%;

      thead {
        text-align: left;
      }

      td {
        padding-left: 0.5rem;
      }
    }
  }
}

sup {
  position: relative;
  font-size: 0.6em;
  top: -0.2em;
  margin-left: -0.5em;
}
